<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.anshdeep.dailytech"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anshdeep.dailytech.MainActivity"/>
        </activity>

        <activity
            android:name=".FavoriteMovieActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anshdeep.dailytech.MainActivity"/>
        </activity>

        <!-- Register the ArticleContentProvider -->
        <!-- Set name, authorities, and exported attributes -->
        <!-- exported = false limits access to this ContentProvider to only this app -->
        <provider
            android:name=".data.ArticleContentProvider"
            android:authorities="com.anshdeep.dailytech"
            android:exported="false"/>


        <!-- We'll need to add two entries to our manifest for our collection view widget -->

        <!-- 1. The broadcast receiver that refers to our widget. This needs the
                intent-filter android.appwidget.action.APPWIDGET_UPDATE and the
                meta-data for our XML widget configuration -->
        <receiver android:name=".widget.ArticleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/collection_widget_info"/>
        </receiver>

        <!-- 2. The service that will send our collection data to our widget. It needs the
                permission android.permission.BIND_REMOTEVIEWS -->
        <service
            android:name=".widget.ArticleWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>